<div class="author-container">
  @if (author != null && author != undefined) {
    <div class="author-info">
      <h2 class="author-name">{{ author.name }}</h2>
      <p class="author-monument">
        @switch (author.monument_count) {
          @case (1) {
            There is {{ author.monument_count }} monument to this author
          }
          @case (0) {
            There are no monuments to this author
          }
          @default {
            There are {{ author.monument_count }} monuments to this author
          }
        }
      </p>
    </div>
  } @else {
    <p class="author-not-found">Author not found</p>
  }
  <a [routerLink]="['/']" class="back-link">To main page</a>
</div>
