<div>
  @if (author != null && author != undefined) {
    <div>
      <h2>{{ author.name }}</h2>
      <p>
        @switch (author.monument_count) {
          @case (1) {
            There is {{ author.monument_count }} monument to this author
          }
          @case (0) {
            There are no monuments to this author
          }
          @default {
            There are {{ author.monument_count }} monuments to this author
          }
        }
      </p>
    </div>
  } @else {
    <p>Author not found</p>
  }
  <a [routerLink]="['/']">To main page</a>
</div>
