<div class="book-container">
  @if (book != null && book != undefined) {
    <div class="book-info">
      <h2 class="book-title">{{ book.name }}</h2>
      <a [routerLink]="['/author', book.author_id]" class="book-link author-link">Author</a>
      <h6 class="book-description">{{ book.description }}</h6>
      @if (text != null && text != undefined) {
        <div class="book-text">{{ text.value }}</div>
      } @else {
        <p class="text-not-found">Text not found</p>
      }
    </div>
  } @else {
    <p class="book-not-found">Book not found</p>
  }
  <a [routerLink]="['/']" class="back-link">To main page</a>
</div>
